import os
activate_this = os.path.join('{{ current_release_symlink_path }}/bin/activate_this.py')
execfile(activate_this, dict(__file__=activate_this))

from paste.deploy import loadapp

config_filepath = '{{ current_config_file_symlink_path }}'

from paste.script.util.logging_config import fileConfig

fileConfig(config_filepath)
application = loadapp('config:%s' % config_filepath)